/*video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}*/

.hero-container-bg {
    background: url('../images/home-bg.jpg') center center/cover no-repeat scroll;
    box-shadow: inset 0 0 0 1000px rgba(34,40,49,0.4);
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 4rem;
}

.hero-container {
    height: 100vh;
    max-height: 1171px;
    width: 90%;
    max-width: 1120px;
    display: flex;
    flex-flow: column;
    margin-top: -80px;
    padding-top: 80px;
    flex-direction: column;
    align-items: flex-end;
    object-fit: contain;
}

.hero-container > h1 {
    color: #eeeeee;
    font-size: 92px;
    margin-top: -3.4rem;
    font-family: 'Acumin Variable Concept', 'PT Sans', sans-serif;
    font-variation-settings: "wght" 130, "wdth" 105, "opsz" 33;
    text-transform: uppercase;
}

.hero-container > p {
    margin-top: -14px;
    color: #eeeeee;
    font-size: 33px;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: 'Acumin Variable Concept', 'PT Sans', sans-serif;
    font-variation-settings: "wght" 150, "wdth" 100, "opsz" 33;
    text-transform: uppercase;
}

.hero-img-figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero-img {

    width: 40.5rem;
    margin: 6rem -2.2rem 2rem 0;
    display: flex;
    object-fit: cover;
    transition: all 0.2s linear;
}

.hero-btns {
    margin-right: -.2rem;
}

.hero-btns .btn {
    margin: 6px;
    text-transform: uppercase;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 846px) {
    .hero-img {
        width: 32rem;
        margin-top: 5rem;
        margin-right: -1.8rem;
    }

    .hero-container > h1 {
        font-size: 72px;
        margin-top: -3.2rem;
    }

    .hero-container > p {
        margin-top: -8px;
    }

    .hero-btns {
        margin-right: .5rem;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hero-img {
        width: 22rem;
        margin-top: 6rem;
        margin-right: -1.2rem;
    }

    .hero-container > h1 {
        font-size: 50px;
        margin-top: -3rem;
    }

    .hero-container >p {
        font-size: 20px;
        margin-top: -8px;
    }
}

@media screen and (max-width: 522px) {
    .hero-img {
        width: 16rem;
        margin-right: -0.9rem;
    }

    .hero-container > h1 {
        font-size: 36px;
        margin-top: -2.4rem;
    }

    .hero-container >p {
        font-size: 18px;
        margin-top: -4px;
    }
}

@media screen and (max-width: 360px) {
    .hero-img {
        width: 14rem;
        margin-right: -0.8rem;
    }

    .hero-container > h1 {
        font-size: 30px;
        margin-top: -2.4rem;
    }

    .hero-container > p {
        margin-top: 0;
    }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
    .hero-container {
        height: 845px;
    }

    .hero-img {
        margin-top: 3.75rem;
    }
}

@media screen and (min-height: 1000px) and (orientation: portrait) {
    .hero-img {
        margin-top: 15rem;
    }
}