* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Acumin Variable Concept", 'PT Sans', sans-serif;
    font-weight: normal;
  }

  :root {
    --currheight: 100vh;
  }

  @import url(//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);
  @font-face {font-family: "Acumin Variable Concept"; src: 
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot"); src: 
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.svg#Acumin Variable Concept") format("svg"); }

  body {
    background-color: #eeeeee;
  }

  .content-body {
    min-height: calc(var(--currheight) - 201px);
  }

  .logo-white {
    cursor: pointer;
    width: 3.2rem;
    height: auto;
    margin-right: 7px;
    margin-bottom: 8px;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    /*background-image: url('./public/images/img-2.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #eeeeee;
    font-size: 100px;
  }
  
  .products {
    /*background-image: url('./public/images/img-1.jpg');*/
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #eeeeee;
    font-size: 100px;
  }
  
  .sign-up {
    /*background-image: url('./public/images/img-8.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #eeeeee;
    font-size: 100px;
  }
  